body {
  background-color: pink;
}

.row {
  display: table;
  margin: auto;
}

.status {
  margin-bottom: 10px;
  text-align: center;
  font-size: 45px;
}
 
.square {
  background: #fff;
  border: 1px solid black;
  float: left;
  font-size: 45px;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  outline: none;
}

.title {
  text-align: center;
  margin: auto;
}